body{
    margin-top: 0px;
}
h1{
    margin-top: 8px;
    margin-bottom: 0px;
}
h2{
    font-size: large;
    font-weight: bold;
}
.codes{
    color: #660000;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 16px;
}
.i{
    font-style: italic;
    color: blue;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.b{
    font-weight: bolder;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.no{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
.side-para{
    margin: 0px 0px 0px 40px;
}